name: rebase

on:
  push:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  rebase:
    runs-on: [ubuntu-latest]

    concurrency:
      group: "rebase-no-private-data"
      cancel-in-progress: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Git User
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update np-private-data Branch
        run: |
          git checkout main
          git fetch origin
          git checkout no-private-data
          git pull
          git rebase origin/main
          git push origin no-private-data --force
